@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	height: 100%;
	width: 100%;
}

body {
	color: --alpha(black / 95%);
	background-color: var(--color-slate-50);

	@variant dark {
		color: --alpha(white / 95%);
		background-color: var(--color-slate-900);
	}
}